# 0.0 Bibliotecas

In [11]:
import pandas as pd

# 1.0 Extração dos Dados

In [12]:
data = pd.read_csv('dataset/insurance.csv')

# 2.0 Entendendo os Dados

In [13]:
# verifica as cinco primeiras linhas
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [15]:
# tamanho do dataset (linhas x colunas)
data.shape

(1338, 7)

In [16]:
# verifica se há valores faltantes
data.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64